/* #sidenavLeft {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

#sidenavLeft a:hover {
  color: #f1f1f1;
}

#sidenavLeft .closebtn {
  position: absolute;
  top: 0;
  right: 3px;
  font-size: 28px;
}

#openbtn-left {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  font-size: 28px;
} */

#layerNav {
  position: fixed;
  z-index: 20;
  transition: 0.5s;
  bottom: 0;
}

#layerNav .closebtn {
  position: absolute;
  top: 0px;
  right: 3px;
  font-size: 28px;
}
